/* PARA EL FONDO  */
.html_app {
         margin: 0;
         padding: 0;
         top: 0;
         left: 0;
         position: absolute;
         width: 100%;
         height: 100%;
         background: url("./../public/imgs/background-app2.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         display: flex;
         justify-content: center;
         align-items: center;
      
}

/* FONDO HOME */
.App {
         margin: 0;
         padding: 0;
         top: 0;
         left: 0;
         position: absolute;
         width: 100%;
         height: 100%;
         background: url("./../public/imgs/background-app.jpg");
         background-repeat: no-repeat;
         background-size: cover;
         display: flex;
         justify-content: center;
         align-items: center;
      
}


