.navBar{
    height: 50px;
    display: flex;
    justify-content: end;
}


.input{
    border-radius: 10px;
}

.button{
    color: white;
    font-size: medium;
    font-weight: 600;
    background-color: black;
    padding: 3px 15px;
    margin-left: 10px;
    border-radius: 10px;
    border-color: white;
}

.button:hover{
    color: black;
    background-color: white;
    border-color: black;
}

.button:active{
    background-color: green;
    color: white;
    border-color: green;
}